@charset "UTF-8";
/* CSS Document */

.swiper-container {
	background: lightgrey;
    width: 100%;
    height: 62.5vw;
	max-height: 500px;;
}
.swiper-slide{
	object-fit: contain;
/*	filter: */
}

.swiper-button-prev{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
	 filter: drop-shadow( 0px 1px 2.5px rgba(0,0,0,.5) );
}

.swiper-button-next{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
	 filter: drop-shadow( 0px 0px 2px rgba(0,0,0,.5) );
}

.swiper-pagination-bullet-active{
	background: white !important;
}

.swiper-pagination-bullet{
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.1), 0 4px 5px 0 rgba(0,0,0,.07), 0 1px 10px 0 rgba(0,0,0,.06);
}

.menu{
	display: grid;
	grid-gap: 1em;
	padding: 1em;
	padding-bottom: none;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	max-width: 900px;
}

.menu-item{
	border-radius: .5em;
	text-align: center;
	height: 30vw;
	
}

.menu-item .description{
	border-radius: .5em;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
/*	padding: 1em;*/
	width: 100%;
	color: white;
	text-decoration: none;
}

.order-food{
	background: url('../img/menu/order_food.jpg');
	background-size: cover;
}
.order-food .description{
	background: rgba(200,200,200,.3);
	line-height: 30vw;
}

.gym{
	background: url('../img/menu/icon.png');
	background-size: cover;
}
.gym .description{
	background: rgba(252,102,0,.3);
	line-height: 30vw;
}



.weather{
	background: url('../img/menu/weather.jpg');
	background-size: cover;
}
.weather .description{
	background: rgba(73,144,226,.5);
/*	line-height: 9vw;*/
	height: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.weather *{margin: 0; padding: 0;}
.weather #weather-icon{
   font-size: 1.5em;
	line-height: 1.1em;
}
.weather #w-temp{
	font-size: 1.125em;
	font-weight: bold;
}
/*
.weather #w-city{
	font-size: 1.125em;
	font-weight: bold;
}
*/
.weather #w-dscp{
	font-size: .75em;
	text-align: center;
	text-transform: capitalize;
}

